#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.1);
};

h1 {
    color: red;
};

.hidden {
    opacity: 0.5;
};